<div class="cotainer">
  <h2>Our <b>Brands</b></h2>

  <div class="d-flex flex-row bd-highlight mb-3 " [ngClass]="{'justify-content-center': isDesktop}" style="overflow: auto; overflow-y: scroll; margin-top: 5px; ">
    <div class="p-2 bd-highlight">
      <img src="../../../assets/brand1.png"  alt="">
    </div>
    <div class="p-2 bd-highlight">
      <img src="../../../assets/brand2.png" alt="">
    </div>
    <div class="p-2 bd-highlight">
      <img src="../../../assets/brand3.png" alt="">
    </div>
    <div class="p-2 bd-highlight">
      <img src="../../../assets/brand4.png" alt="">
    </div>
   
  </div>

  
 
</div>
