<div class="body">

  <div class="row social-bar " *ngIf="!isDesktop">
    <div class="col-md-6 d-flex justify-content-center">
      <p>3/1363/3B, Sattur Road,
        RSR Petrol Bunk Backside,
        Sivakasi </p>
    </div>
    <div class="col-md-6 ">
      <div class="d-flex flex-row-reverse " [class.justify-content-around] = "!isDesktop" >
        <div class="p-2">
          <a target="_blank" href="https://www.instagram.com/dharshinisvks/" class="fa fa-instagram"></a>
        </div>
        
        <div class="p-2">
          <a target="_blank" href="https://www.youtube.com/channel/UC4IdMP_CstIZhu8NHBTcRrA" class="fa fa-youtube"></a>
        </div>
        <div class="p-2">
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100083829273034" class="fa fa-facebook"></a>
        </div>
        <div class="p-2">
          <a target="_blank" href="//api.whatsapp.com/send?phone=+917010857035&text=Hi.." class="fa fa-whatsapp"></a>
        </div>
  
        <div class="p-2">
          <a href="tel:+917010857035" class="fa fa-phone"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px; ">


    <div class="container second-portion col-md-12 p-5">
      <div class="row">
        <!-- Boxes de Acoes -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">MAIL & WEBSITE</h3>
                <p>
                  <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;dharshinicrackersshop@gmail.com
                  <br>
                  <br>
                  <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;www.dharshinicrackersshop.in
                </p>

              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">CONTACT</h3>
                <p><a href="tel:+917010857035">
                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91) 7010857035
                  </a>
                  <br>
                  <br>
                  <a href="tel:+919751642052">
                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91) 9751642052
                  </a>
                  <br>
                  <br>
                  <a href="tel:+919976074745">
                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91) 9976074745
                  </a>
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">ADDRESS</h3>
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; 3/1363/3B, Sattur Road, <br> RSR Petrol Bunk Backside, <br> Sivakasi
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
        <!-- /Boxes de Acoes -->

        <!--My Portfolio  dont Copy this -->

      </div>
    </div>

    <div class="container-fluid p-0 col-md-12">

      <!--Google map-->
      <div id="map-container-google-4" class="z-depth-1-half map-container-4" style="height: 500px; width: 100%;">
        <iframe src="https://maps.google.com/maps?q=9.4405091 , 77.8051882  &t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>