
<section id="what-we-do">

  <h2><b>Bank Details</b></h2>

  <div class="container-fluid">
    
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-1">
            <h3 class="card-title" style="font-weight: bold; color: rgb(94, 141, 81);">Current Account</h3>
            <h5 class="card-title" >A/C Name  : <strong>S. Thangam</strong></h5>
            <h5 class="card-title" >A/C No    :    <strong>1261135000006660</strong></h5>
            <h5 class="card-title" >Bank Name :    <strong>Karur vysya bank</strong></h5>
            <h5 class="card-title" >IFSC No   :    <strong>KVBL 0001261</strong></h5>
            <h5 class="card-title" >Branch    :    <strong>Sivakasi Branch</strong></h5>
                     
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-2" >
            <h3 class="card-title" style="font-weight: bold; color: rgb(94, 141, 81);">Savings Bank Account</h3>
            <h5 class="card-title" >A/C Name  : <strong>S. Thangam</strong></h5>
            <h5 class="card-title" >A/C No    :    <strong>1261155000027742</strong></h5>
            <h5 class="card-title" >Bank Name :    <strong>Karur vysya bank</strong></h5>
            <h5 class="card-title" >IFSC No   :    <strong>KVBL 0001261</strong></h5>
            <h5 class="card-title" >Branch    :    <strong>Sivakasi Branch</strong></h5>
   
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-3">
            <h3 class="card-title" style="font-weight: bold; color: rgb(94, 141, 81);">UPI</h3>
            <h5 class="card-title" >Name  : <strong>Thangam Dharshini Crackers</strong></h5>
            <h5 class="card-title" >GPay No      : <strong>9976074745</strong></h5>
            <h5 class="card-title" >PhonePay No  :    <strong>9976074745</strong></h5>
            
   
          </div>
        </div>
      </div>
    </div>
   
  </div>	
</section>

