<section id="what-we-do">

  <h2><b>What We Do</b></h2>

  <div class="container-fluid">
    
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-1">
            <h3 class="card-title" style="font-weight: bold;">Discount</h3>
            <p class="card-text">Discount on all our products. You can get 60% discount of your total purchase amount.</p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-2" >
            <h3 class="card-title" style="font-weight: bold;">Delivery</h3>
            <p class="card-text">Fast delivery all over tamilnadu. Delivery charges may applicable for transist to your nearest location.</p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-block block-3">
            <h3 class="card-title" style="font-weight: bold;">Help Center</h3>
            <p class="card-text">24/7 customer service provided. Make a call to us, if you have any trouble to purchase our products</p>
            
          </div>
        </div>
      </div>
    </div>
   
  </div>	
</section>